# NOTE: This file is auto generated by OpenAPI Generator 7.25.0 (https://openapi-generator.tech)
# using the Elixir SDK Generator template (https://github.com/houllette/elixir-sdk-generator).
# Do not edit this file manually — edit the templates and regenerate instead.

defmodule ExDaytona.Api.Audit do
  @moduledoc """
  API calls for all endpoints tagged `Audit`.
  """

  alias ExDaytona.Connection
  import ExDaytona.RequestBuilder

  @doc """
  Get supported audit log scenarios
  Returns the supported audit log actions grouped by target type. The list is derived at runtime from the audited routes and system events, so it always reflects what can actually appear in the audit log.

  ### Parameters

  - `connection` (ExDaytona.Connection): Connection to server
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, ExDaytona.Model.AuditScenarios.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec get_audit_scenarios(Tesla.Env.client(), keyword()) ::
          {:ok, ExDaytona.Model.AuditScenarios.t()} | {:error, Tesla.Env.t()}
  def get_audit_scenarios(connection, opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/audit/scenarios")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response(
      [
        {200, ExDaytona.Model.AuditScenarios}
      ],
      opts
    )
  end

  @doc """
  Get audit logs for organization

  ### Parameters

  - `connection` (ExDaytona.Connection): Connection to server
  - `organization_id` (String.t): Organization ID
  - `opts` (keyword): Optional parameters
    - `:page` (number()): Page number of the results
    - `:limit` (number()): Number of results per page
    - `:from` (DateTime.t): Deprecated alias for `createdAt[gte]`. From date (ISO 8601 format).
    - `:to` (DateTime.t): Deprecated alias for `createdAt[lte]`. To date (ISO 8601 format).
    - `:nextToken` (String.t): Token for cursor-based pagination. When provided, takes precedence over page parameter.
    - `:id` (StringFilter): Filter by audit log ID.
    - `:actorId` (StringFilter): Filter by actor user ID.
    - `:actorEmail` (StringFilter): Filter by actor email.
    - `:actorApiKeyPrefix` (StringFilter): Filter by actor API key prefix.
    - `:actorApiKeySuffix` (StringFilter): Filter by actor API key suffix.
    - `:action` (StringFilter): Filter by action.
    - `:targetType` (StringFilter): Filter by target type.
    - `:targetId` (StringFilter): Filter by target ID.
    - `:statusCode` (IntFilter): Filter by HTTP status code.
    - `:createdAt` (DateFilter): Filter by creation timestamp.

  ### Returns

  - `{:ok, ExDaytona.Model.PaginatedAuditLogs.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec get_organization_audit_logs(Tesla.Env.client(), String.t(), keyword()) ::
          {:ok, ExDaytona.Model.PaginatedAuditLogs.t()} | {:error, Tesla.Env.t()}
  def get_organization_audit_logs(connection, organization_id, opts \\ []) do
    optional_params = %{
      :page => :query,
      :limit => :query,
      :from => :query,
      :to => :query,
      :nextToken => :query,
      :id => :query,
      :actorId => :query,
      :actorEmail => :query,
      :actorApiKeyPrefix => :query,
      :actorApiKeySuffix => :query,
      :action => :query,
      :targetType => :query,
      :targetId => :query,
      :statusCode => :query,
      :createdAt => :query
    }

    request =
      %{}
      |> method(:get)
      |> url("/audit/organizations/#{organization_id}")
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response(
      [
        {200, ExDaytona.Model.PaginatedAuditLogs}
      ],
      opts
    )
  end
end
