# NOTE: This file is auto generated by OpenAPI Generator 7.25.0 (https://openapi-generator.tech)
# using the Elixir SDK Generator template (https://github.com/houllette/elixir-sdk-generator).
# Do not edit this file manually — edit the templates and regenerate instead.

defmodule ExDaytona.Api.FileSystem do
  @moduledoc """
  API calls for all endpoints tagged `FileSystem`.
  """

  alias ExDaytona.Connection
  import ExDaytona.RequestBuilder

  @doc """
  Create a folder
  Create a folder with the specified path and optional permissions

  ### Parameters

  - `connection` (ExDaytona.Connection): Connection to server
  - `path` (String.t): Folder path to create
  - `mode` (String.t): Octal permission mode (default: 0755)
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, nil}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec create_folder(Tesla.Env.client(), String.t(), String.t(), keyword()) ::
          {:ok, nil} | {:ok, ExDaytona.Model.ErrorResponse.t()} | {:error, Tesla.Env.t()}
  def create_folder(connection, path, mode, opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/files/folder")
      |> add_param(:query, :path, path)
      |> add_param(:query, :mode, mode)
      |> ensure_body()
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response(
      [
        {201, false},
        {400, ExDaytona.Model.ErrorResponse}
      ],
      opts
    )
  end

  @doc """
  Delete a file or directory
  Delete a file or directory at the specified path

  ### Parameters

  - `connection` (ExDaytona.Connection): Connection to server
  - `path` (String.t): File or directory path to delete
  - `opts` (keyword): Optional parameters
    - `:recursive` (boolean()): Enable recursive deletion for directories

  ### Returns

  - `{:ok, nil}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec delete_file(Tesla.Env.client(), String.t(), keyword()) ::
          {:ok, nil} | {:ok, ExDaytona.Model.ErrorResponse.t()} | {:error, Tesla.Env.t()}
  def delete_file(connection, path, opts \\ []) do
    optional_params = %{
      :recursive => :query
    }

    request =
      %{}
      |> method(:delete)
      |> url("/files")
      |> add_param(:query, :path, path)
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response(
      [
        {204, false},
        {400, ExDaytona.Model.ErrorResponse},
        {403, ExDaytona.Model.ErrorResponse},
        {404, ExDaytona.Model.ErrorResponse}
      ],
      opts
    )
  end

  @doc """
  Download a file
  Download a file by providing its path

  ### Parameters

  - `connection` (ExDaytona.Connection): Connection to server
  - `path` (String.t): File path to download
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, String.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec download_file(Tesla.Env.client(), String.t(), keyword()) ::
          {:ok, ExDaytona.Model.ErrorResponse.t()} | {:ok, String.t()} | {:error, Tesla.Env.t()}
  def download_file(connection, path, opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/files/download")
      |> add_param(:query, :path, path)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response(
      [
        {200, false},
        {400, ExDaytona.Model.ErrorResponse},
        {403, ExDaytona.Model.ErrorResponse},
        {404, ExDaytona.Model.ErrorResponse}
      ],
      opts
    )
  end

  @doc """
  Download multiple files
  Download multiple files by providing their paths. Successful files are returned as multipart parts named `file`. Per-file failures are returned as multipart parts named `error` with JSON payloads shaped like ErrorResponse.

  ### Parameters

  - `connection` (ExDaytona.Connection): Connection to server
  - `files_download_request` (FilesDownloadRequest): Paths of files to download
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, %{}}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec download_files(Tesla.Env.client(), ExDaytona.Model.FilesDownloadRequest.t(), keyword()) ::
          {:ok, ExDaytona.Model.ErrorResponse.t()} | {:ok, %{optional(String.t()) => any()}} | {:error, Tesla.Env.t()}
  def download_files(connection, files_download_request, opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/files/bulk-download")
      |> add_param(:body, :body, files_download_request)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response(
      [
        {200, %{}},
        {400, ExDaytona.Model.ErrorResponse},
        {403, ExDaytona.Model.ErrorResponse},
        {404, ExDaytona.Model.ErrorResponse},
        {500, ExDaytona.Model.ErrorResponse}
      ],
      opts
    )
  end

  @doc """
  Find text in files
  Search for text pattern within files in a directory

  ### Parameters

  - `connection` (ExDaytona.Connection): Connection to server
  - `path` (String.t): Directory path to search in
  - `pattern` (String.t): Text pattern to search for
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, [%Match{}, ...]}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec find_in_files(Tesla.Env.client(), String.t(), String.t(), keyword()) ::
          {:ok, ExDaytona.Model.ErrorResponse.t()} | {:ok, [ExDaytona.Model.Match.t()]} | {:error, Tesla.Env.t()}
  def find_in_files(connection, path, pattern, opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/files/find")
      |> add_param(:query, :path, path)
      |> add_param(:query, :pattern, pattern)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response(
      [
        {200, ExDaytona.Model.Match},
        {400, ExDaytona.Model.ErrorResponse}
      ],
      opts
    )
  end

  @doc """
  Get file information
  Get detailed information about a file or directory

  ### Parameters

  - `connection` (ExDaytona.Connection): Connection to server
  - `path` (String.t): File or directory path
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, ExDaytona.Model.FileInfo.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec get_file_info(Tesla.Env.client(), String.t(), keyword()) ::
          {:ok, ExDaytona.Model.ErrorResponse.t()} | {:ok, ExDaytona.Model.FileInfo.t()} | {:error, Tesla.Env.t()}
  def get_file_info(connection, path, opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/files/info")
      |> add_param(:query, :path, path)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response(
      [
        {200, ExDaytona.Model.FileInfo},
        {400, ExDaytona.Model.ErrorResponse},
        {403, ExDaytona.Model.ErrorResponse},
        {404, ExDaytona.Model.ErrorResponse}
      ],
      opts
    )
  end

  @doc """
  List files and directories
  List files and directories in the specified path. Use the optional depth parameter to list recursively: depth=1 (default) lists the directory's entries, depth=2 also includes their children, and so on.

  ### Parameters

  - `connection` (ExDaytona.Connection): Connection to server
  - `opts` (keyword): Optional parameters
    - `:path` (String.t): Directory path to list (defaults to working directory)
    - `:depth` (integer()): How many levels deep to list (default: 1, must be >= 1)

  ### Returns

  - `{:ok, [%FileInfo{}, ...]}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec list_files(Tesla.Env.client(), keyword()) ::
          {:ok, [ExDaytona.Model.FileInfo.t()]} | {:ok, ExDaytona.Model.ErrorResponse.t()} | {:error, Tesla.Env.t()}
  def list_files(connection, opts \\ []) do
    optional_params = %{
      :path => :query,
      :depth => :query
    }

    request =
      %{}
      |> method(:get)
      |> url("/files")
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response(
      [
        {200, ExDaytona.Model.FileInfo},
        {400, ExDaytona.Model.ErrorResponse},
        {403, ExDaytona.Model.ErrorResponse},
        {404, ExDaytona.Model.ErrorResponse}
      ],
      opts
    )
  end

  @doc """
  Move or rename file/directory
  Move or rename a file or directory from source to destination

  ### Parameters

  - `connection` (ExDaytona.Connection): Connection to server
  - `source` (String.t): Source file or directory path
  - `destination` (String.t): Destination file or directory path
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, nil}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec move_file(Tesla.Env.client(), String.t(), String.t(), keyword()) ::
          {:ok, nil} | {:ok, ExDaytona.Model.ErrorResponse.t()} | {:error, Tesla.Env.t()}
  def move_file(connection, source, destination, opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/files/move")
      |> add_param(:query, :source, source)
      |> add_param(:query, :destination, destination)
      |> ensure_body()
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response(
      [
        {200, false},
        {400, ExDaytona.Model.ErrorResponse},
        {403, ExDaytona.Model.ErrorResponse},
        {404, ExDaytona.Model.ErrorResponse},
        {409, ExDaytona.Model.ErrorResponse}
      ],
      opts
    )
  end

  @doc """
  Replace text in files
  Replace text pattern with new value in multiple files

  ### Parameters

  - `connection` (ExDaytona.Connection): Connection to server
  - `replace_request` (ReplaceRequest): Replace request
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, [%ReplaceResult{}, ...]}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec replace_in_files(Tesla.Env.client(), ExDaytona.Model.ReplaceRequest.t(), keyword()) ::
          {:ok, ExDaytona.Model.ErrorResponse.t()}
          | {:ok, [ExDaytona.Model.ReplaceResult.t()]}
          | {:error, Tesla.Env.t()}
  def replace_in_files(connection, replace_request, opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/files/replace")
      |> add_param(:body, :body, replace_request)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response(
      [
        {200, ExDaytona.Model.ReplaceResult},
        {400, ExDaytona.Model.ErrorResponse}
      ],
      opts
    )
  end

  @doc """
  Search files by pattern
  Search for files matching a specific pattern in a directory

  ### Parameters

  - `connection` (ExDaytona.Connection): Connection to server
  - `path` (String.t): Directory path to search in
  - `pattern` (String.t): File pattern to match (e.g., *.txt, *.go)
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, ExDaytona.Model.SearchFilesResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec search_files(Tesla.Env.client(), String.t(), String.t(), keyword()) ::
          {:ok, ExDaytona.Model.ErrorResponse.t()}
          | {:ok, ExDaytona.Model.SearchFilesResponse.t()}
          | {:error, Tesla.Env.t()}
  def search_files(connection, path, pattern, opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/files/search")
      |> add_param(:query, :path, path)
      |> add_param(:query, :pattern, pattern)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response(
      [
        {200, ExDaytona.Model.SearchFilesResponse},
        {400, ExDaytona.Model.ErrorResponse}
      ],
      opts
    )
  end

  @doc """
  Set file permissions
  Set file permissions, ownership, and group for a file or directory

  ### Parameters

  - `connection` (ExDaytona.Connection): Connection to server
  - `path` (String.t): File or directory path
  - `opts` (keyword): Optional parameters
    - `:owner` (String.t): Owner (username or UID)
    - `:group` (String.t): Group (group name or GID)
    - `:mode` (String.t): File mode in octal format (e.g., 0755)

  ### Returns

  - `{:ok, nil}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec set_file_permissions(Tesla.Env.client(), String.t(), keyword()) ::
          {:ok, nil} | {:ok, ExDaytona.Model.ErrorResponse.t()} | {:error, Tesla.Env.t()}
  def set_file_permissions(connection, path, opts \\ []) do
    optional_params = %{
      :owner => :query,
      :group => :query,
      :mode => :query
    }

    request =
      %{}
      |> method(:post)
      |> url("/files/permissions")
      |> add_param(:query, :path, path)
      |> add_optional_params(optional_params, opts)
      |> ensure_body()
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response(
      [
        {200, false},
        {400, ExDaytona.Model.ErrorResponse},
        {403, ExDaytona.Model.ErrorResponse},
        {404, ExDaytona.Model.ErrorResponse}
      ],
      opts
    )
  end

  @doc """
  Upload a file
  Upload a file to the specified path. Accepts either multipart/form-data (field \"file\") or a raw request body (e.g. application/octet-stream). Parent directories are created if missing; an existing file is overwritten.

  ### Parameters

  - `connection` (ExDaytona.Connection): Connection to server
  - `path` (String.t): Destination path for the uploaded file
  - `opts` (keyword): Optional parameters
    - `:file` (String.t): File to upload (multipart/form-data)

  ### Returns

  - `{:ok, ExDaytona.Model.UploadedFile.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec upload_file(Tesla.Env.client(), String.t(), keyword()) ::
          {:ok, ExDaytona.Model.ErrorResponse.t()} | {:ok, ExDaytona.Model.UploadedFile.t()} | {:error, Tesla.Env.t()}
  def upload_file(connection, path, opts \\ []) do
    optional_params = %{
      :file => :form
    }

    request =
      %{}
      |> method(:post)
      |> url("/files/upload-v2")
      |> add_param(:query, :path, path)
      |> add_optional_params(optional_params, opts)
      |> ensure_body()
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response(
      [
        {200, ExDaytona.Model.UploadedFile},
        {400, ExDaytona.Model.ErrorResponse}
      ],
      opts
    )
  end

  @doc """
  Upload multiple files
  Upload multiple files with their destination paths

  ### Parameters

  - `connection` (ExDaytona.Connection): Connection to server
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, nil}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec upload_files(Tesla.Env.client(), keyword()) ::
          {:ok, nil} | {:ok, ExDaytona.Model.ErrorResponse.t()} | {:error, Tesla.Env.t()}
  def upload_files(connection, opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/files/bulk-upload")
      |> ensure_body()
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response(
      [
        {200, false},
        {400, ExDaytona.Model.ErrorResponse}
      ],
      opts
    )
  end
end
