# NOTE: This file is auto generated by OpenAPI Generator 7.25.0 (https://openapi-generator.tech)
# using the Elixir SDK Generator template (https://github.com/houllette/elixir-sdk-generator).
# Do not edit this file manually — edit the templates and regenerate instead.

defmodule ExDaytona.Api.Health do
  @moduledoc """
  API calls for all endpoints tagged `Health`.
  """

  alias ExDaytona.Connection
  import ExDaytona.RequestBuilder

  @doc """

  ### Parameters

  - `connection` (ExDaytona.Connection): Connection to server
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, ExDaytona.Model.Check200Response.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec check(Tesla.Env.client(), keyword()) ::
          {:ok, ExDaytona.Model.Check200Response.t()}
          | {:ok, ExDaytona.Model.Check503Response.t()}
          | {:error, Tesla.Env.t()}
  def check(connection, opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/health/ready")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response(
      [
        {200, ExDaytona.Model.Check200Response},
        {503, ExDaytona.Model.Check503Response}
      ],
      opts
    )
  end

  @doc """

  ### Parameters

  - `connection` (ExDaytona.Connection): Connection to server
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, nil}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec live(Tesla.Env.client(), keyword()) :: {:ok, nil} | {:error, Tesla.Env.t()}
  def live(connection, opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/health")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response(
      [
        {200, false}
      ],
      opts
    )
  end
end
