# NOTE: This file is auto generated by OpenAPI Generator 7.25.0 (https://openapi-generator.tech)
# using the Elixir SDK Generator template (https://github.com/houllette/elixir-sdk-generator).
# Do not edit this file manually — edit the templates and regenerate instead.

defmodule ExDaytona.Api.Health do
  @moduledoc """
  API calls for all endpoints tagged `Health`.
  """

  alias ExDaytona.Connection
  import ExDaytona.RequestBuilder

  @doc """

  ### Parameters

  - `connection` (ExDaytona.Connection): Connection to server
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, ExDaytona.Model.HealthControllerCheck200Response.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec health_controller_check(Tesla.Env.client(), keyword()) ::
          {:ok, ExDaytona.Model.HealthControllerCheck200Response.t()}
          | {:ok, ExDaytona.Model.HealthControllerCheck503Response.t()}
          | {:error, Tesla.Env.t()}
  def health_controller_check(connection, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/health/ready")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, ExDaytona.Model.HealthControllerCheck200Response},
      {503, ExDaytona.Model.HealthControllerCheck503Response}
    ])
  end

  @doc """

  ### Parameters

  - `connection` (ExDaytona.Connection): Connection to server
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, nil}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec health_controller_live(Tesla.Env.client(), keyword()) :: {:ok, nil} | {:error, Tesla.Env.t()}
  def health_controller_live(connection, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/health")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, false}
    ])
  end
end
