# NOTE: This file is auto generated by OpenAPI Generator 7.25.0 (https://openapi-generator.tech)
# using the Elixir SDK Generator template (https://github.com/houllette/elixir-sdk-generator).
# Do not edit this file manually — edit the templates and regenerate instead.

defmodule ExDaytona.Api.Interpreter do
  @moduledoc """
  API calls for all endpoints tagged `Interpreter`.
  """

  alias ExDaytona.Connection
  import ExDaytona.RequestBuilder

  @doc """
  Create a new interpreter context
  Creates a new isolated interpreter context with optional working directory and language

  ### Parameters

  - `connection` (ExDaytona.Connection): Connection to server
  - `create_context_request` (CreateContextRequest): Context configuration
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, ExDaytona.Model.InterpreterContext.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec create_interpreter_context(Tesla.Env.client(), ExDaytona.Model.CreateContextRequest.t(), keyword()) ::
          {:ok, ExDaytona.Model.ErrorResponse.t()}
          | {:ok, ExDaytona.Model.InterpreterContext.t()}
          | {:error, Tesla.Env.t()}
  def create_interpreter_context(connection, create_context_request, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/process/interpreter/context")
      |> add_param(:body, :body, create_context_request)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, ExDaytona.Model.InterpreterContext},
      {400, ExDaytona.Model.ErrorResponse},
      {500, ExDaytona.Model.ErrorResponse}
    ])
  end

  @doc """
  Delete an interpreter context
  Deletes an interpreter context and shuts down its worker process

  ### Parameters

  - `connection` (ExDaytona.Connection): Connection to server
  - `id` (String.t): Context ID
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, %{}}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec delete_interpreter_context(Tesla.Env.client(), String.t(), keyword()) ::
          {:ok, ExDaytona.Model.ErrorResponse.t()}
          | {:ok, %{optional(String.t()) => String.t()}}
          | {:error, Tesla.Env.t()}
  def delete_interpreter_context(connection, id, _opts \\ []) do
    request =
      %{}
      |> method(:delete)
      |> url("/process/interpreter/context/#{id}")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, %{}},
      {400, ExDaytona.Model.ErrorResponse},
      {404, ExDaytona.Model.ErrorResponse},
      {500, ExDaytona.Model.ErrorResponse}
    ])
  end

  @doc """
  Execute code in an interpreter context
  Executes code in a specified context (or default context if not specified) via WebSocket streaming

  ### Parameters

  - `connection` (ExDaytona.Connection): Connection to server
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, nil}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec execute_interpreter_code(Tesla.Env.client(), keyword()) :: {:ok, String.t()} | {:error, Tesla.Env.t()}
  def execute_interpreter_code(connection, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/process/interpreter/execute")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {101, false}
    ])
  end

  @doc """
  List all user-created interpreter contexts
  Returns information about all user-created interpreter contexts (excludes default context)

  ### Parameters

  - `connection` (ExDaytona.Connection): Connection to server
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, ExDaytona.Model.ListContextsResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec list_interpreter_contexts(Tesla.Env.client(), keyword()) ::
          {:ok, ExDaytona.Model.ErrorResponse.t()}
          | {:ok, ExDaytona.Model.ListContextsResponse.t()}
          | {:error, Tesla.Env.t()}
  def list_interpreter_contexts(connection, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/process/interpreter/context")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, ExDaytona.Model.ListContextsResponse},
      {500, ExDaytona.Model.ErrorResponse}
    ])
  end
end
