# NOTE: This file is auto generated by OpenAPI Generator 7.25.0 (https://openapi-generator.tech)
# using the Elixir SDK Generator template (https://github.com/houllette/elixir-sdk-generator).
# Do not edit this file manually — edit the templates and regenerate instead.

defmodule ExDaytona.Api.Jobs do
  @moduledoc """
  API calls for all endpoints tagged `Jobs`.
  """

  alias ExDaytona.Connection
  import ExDaytona.RequestBuilder

  @doc """
  Get job details

  ### Parameters

  - `connection` (ExDaytona.Connection): Connection to server
  - `job_id` (String.t): ID of the job
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, ExDaytona.Model.Job.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec get_job(Tesla.Env.client(), String.t(), keyword()) :: {:ok, ExDaytona.Model.Job.t()} | {:error, Tesla.Env.t()}
  def get_job(connection, job_id, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/jobs/#{job_id}")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, ExDaytona.Model.Job}
    ])
  end

  @doc """
  List jobs for the runner
  Returns a paginated list of jobs for the runner, optionally filtered by status.

  ### Parameters

  - `connection` (ExDaytona.Connection): Connection to server
  - `opts` (keyword): Optional parameters
    - `:page` (number()): Page number of the results
    - `:limit` (number()): Maximum number of jobs to return (default: 100, max: 500)
    - `:status` (JobStatus): Filter jobs by status
    - `:offset` (number()): Number of jobs to skip for pagination (default: 0)

  ### Returns

  - `{:ok, ExDaytona.Model.PaginatedJobs.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec list_jobs(Tesla.Env.client(), keyword()) :: {:ok, ExDaytona.Model.PaginatedJobs.t()} | {:error, Tesla.Env.t()}
  def list_jobs(connection, opts \\ []) do
    optional_params = %{
      :page => :query,
      :limit => :query,
      :status => :query,
      :offset => :query
    }

    request =
      %{}
      |> method(:get)
      |> url("/jobs")
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, ExDaytona.Model.PaginatedJobs}
    ])
  end

  @doc """
  Long poll for jobs
  Long poll endpoint for runners to fetch pending jobs. Returns immediately if jobs are available, otherwise waits up to timeout seconds.

  ### Parameters

  - `connection` (ExDaytona.Connection): Connection to server
  - `opts` (keyword): Optional parameters
    - `:timeout` (number()): Timeout in seconds for long polling (default: 30, max: 60)
    - `:limit` (number()): Maximum number of jobs to return (default: 10, max: 100)

  ### Returns

  - `{:ok, ExDaytona.Model.PollJobsResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec poll_jobs(Tesla.Env.client(), keyword()) ::
          {:ok, ExDaytona.Model.PollJobsResponse.t()} | {:error, Tesla.Env.t()}
  def poll_jobs(connection, opts \\ []) do
    optional_params = %{
      :timeout => :query,
      :limit => :query
    }

    request =
      %{}
      |> method(:get)
      |> url("/jobs/poll")
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, ExDaytona.Model.PollJobsResponse}
    ])
  end

  @doc """
  Update job status

  ### Parameters

  - `connection` (ExDaytona.Connection): Connection to server
  - `job_id` (String.t): ID of the job
  - `update_job_status` (UpdateJobStatus): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, ExDaytona.Model.Job.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec update_job_status(Tesla.Env.client(), String.t(), ExDaytona.Model.UpdateJobStatus.t(), keyword()) ::
          {:ok, ExDaytona.Model.Job.t()} | {:error, Tesla.Env.t()}
  def update_job_status(connection, job_id, update_job_status, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/jobs/#{job_id}/status")
      |> add_param(:body, :body, update_job_status)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, ExDaytona.Model.Job}
    ])
  end
end
