# NOTE: This file is auto generated by OpenAPI Generator 7.25.0 (https://openapi-generator.tech)
# using the Elixir SDK Generator template (https://github.com/houllette/elixir-sdk-generator).
# Do not edit this file manually — edit the templates and regenerate instead.

defmodule ExDaytona.Api.Lsp do
  @moduledoc """
  API calls for all endpoints tagged `Lsp`.
  """

  alias ExDaytona.Connection
  import ExDaytona.RequestBuilder

  @doc """
  Get code completions
  Get code completion suggestions from the LSP server

  ### Parameters

  - `connection` (ExDaytona.Connection): Connection to server
  - `lsp_completion_params` (LspCompletionParams): Completion request
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, ExDaytona.Model.CompletionList.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec completions(Tesla.Env.client(), ExDaytona.Model.LspCompletionParams.t(), keyword()) ::
          {:ok, ExDaytona.Model.ErrorResponse.t()} | {:ok, ExDaytona.Model.CompletionList.t()} | {:error, Tesla.Env.t()}
  def completions(connection, lsp_completion_params, opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/lsp/completions")
      |> add_param(:body, :body, lsp_completion_params)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response(
      [
        {200, ExDaytona.Model.CompletionList},
        {400, ExDaytona.Model.ErrorResponse}
      ],
      opts
    )
  end

  @doc """
  Notify document closed
  Notify the LSP server that a document has been closed

  ### Parameters

  - `connection` (ExDaytona.Connection): Connection to server
  - `lsp_document_request` (LspDocumentRequest): Document request
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, nil}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec did_close(Tesla.Env.client(), ExDaytona.Model.LspDocumentRequest.t(), keyword()) ::
          {:ok, nil} | {:ok, ExDaytona.Model.ErrorResponse.t()} | {:error, Tesla.Env.t()}
  def did_close(connection, lsp_document_request, opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/lsp/did-close")
      |> add_param(:body, :body, lsp_document_request)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response(
      [
        {200, false},
        {400, ExDaytona.Model.ErrorResponse}
      ],
      opts
    )
  end

  @doc """
  Notify document opened
  Notify the LSP server that a document has been opened

  ### Parameters

  - `connection` (ExDaytona.Connection): Connection to server
  - `lsp_document_request` (LspDocumentRequest): Document request
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, nil}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec did_open(Tesla.Env.client(), ExDaytona.Model.LspDocumentRequest.t(), keyword()) ::
          {:ok, nil} | {:ok, ExDaytona.Model.ErrorResponse.t()} | {:error, Tesla.Env.t()}
  def did_open(connection, lsp_document_request, opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/lsp/did-open")
      |> add_param(:body, :body, lsp_document_request)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response(
      [
        {200, false},
        {400, ExDaytona.Model.ErrorResponse}
      ],
      opts
    )
  end

  @doc """
  Get document symbols
  Get symbols (functions, classes, etc.) from a document

  ### Parameters

  - `connection` (ExDaytona.Connection): Connection to server
  - `language_id` (String.t): Language ID (e.g., python, typescript)
  - `path_to_project` (String.t): Path to project
  - `uri` (String.t): Document URI
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, [%LspSymbol{}, ...]}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec document_symbols(Tesla.Env.client(), String.t(), String.t(), String.t(), keyword()) ::
          {:ok, ExDaytona.Model.ErrorResponse.t()} | {:ok, [ExDaytona.Model.LspSymbol.t()]} | {:error, Tesla.Env.t()}
  def document_symbols(connection, language_id, path_to_project, uri, opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/lsp/document-symbols")
      |> add_param(:query, :languageId, language_id)
      |> add_param(:query, :pathToProject, path_to_project)
      |> add_param(:query, :uri, uri)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response(
      [
        {200, ExDaytona.Model.LspSymbol},
        {400, ExDaytona.Model.ErrorResponse}
      ],
      opts
    )
  end

  @doc """
  Start LSP server
  Start a Language Server Protocol server for the specified language

  ### Parameters

  - `connection` (ExDaytona.Connection): Connection to server
  - `lsp_server_request` (LspServerRequest): LSP server request
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, nil}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec start(Tesla.Env.client(), ExDaytona.Model.LspServerRequest.t(), keyword()) ::
          {:ok, nil} | {:ok, ExDaytona.Model.ErrorResponse.t()} | {:error, Tesla.Env.t()}
  def start(connection, lsp_server_request, opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/lsp/start")
      |> add_param(:body, :body, lsp_server_request)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response(
      [
        {200, false},
        {400, ExDaytona.Model.ErrorResponse},
        {500, ExDaytona.Model.ErrorResponse}
      ],
      opts
    )
  end

  @doc """
  Stop LSP server
  Stop a Language Server Protocol server

  ### Parameters

  - `connection` (ExDaytona.Connection): Connection to server
  - `lsp_server_request` (LspServerRequest): LSP server request
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, nil}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec stop(Tesla.Env.client(), ExDaytona.Model.LspServerRequest.t(), keyword()) ::
          {:ok, nil} | {:ok, ExDaytona.Model.ErrorResponse.t()} | {:error, Tesla.Env.t()}
  def stop(connection, lsp_server_request, opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/lsp/stop")
      |> add_param(:body, :body, lsp_server_request)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response(
      [
        {200, false},
        {400, ExDaytona.Model.ErrorResponse},
        {500, ExDaytona.Model.ErrorResponse}
      ],
      opts
    )
  end

  @doc """
  Get workspace symbols
  Search for symbols across the entire workspace

  ### Parameters

  - `connection` (ExDaytona.Connection): Connection to server
  - `query` (String.t): Search query
  - `language_id` (String.t): Language ID (e.g., python, typescript)
  - `path_to_project` (String.t): Path to project
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, [%LspSymbol{}, ...]}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec workspace_symbols(Tesla.Env.client(), String.t(), String.t(), String.t(), keyword()) ::
          {:ok, ExDaytona.Model.ErrorResponse.t()} | {:ok, [ExDaytona.Model.LspSymbol.t()]} | {:error, Tesla.Env.t()}
  def workspace_symbols(connection, query, language_id, path_to_project, opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/lsp/workspacesymbols")
      |> add_param(:query, :query, query)
      |> add_param(:query, :languageId, language_id)
      |> add_param(:query, :pathToProject, path_to_project)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response(
      [
        {200, ExDaytona.Model.LspSymbol},
        {400, ExDaytona.Model.ErrorResponse}
      ],
      opts
    )
  end
end
