# NOTE: This file is auto generated by OpenAPI Generator 7.25.0 (https://openapi-generator.tech)
# using the Elixir SDK Generator template (https://github.com/houllette/elixir-sdk-generator).
# Do not edit this file manually — edit the templates and regenerate instead.

defmodule ExDaytona.Api.ObjectStorage do
  @moduledoc """
  API calls for all endpoints tagged `ObjectStorage`.
  """

  alias ExDaytona.Connection
  import ExDaytona.RequestBuilder

  @doc """
  Get temporary storage access for pushing objects

  ### Parameters

  - `connection` (ExDaytona.Connection): Connection to server
  - `opts` (keyword): Optional parameters
    - `:"X-Daytona-Organization-ID"` (String.t): Use with JWT to specify the organization ID

  ### Returns

  - `{:ok, ExDaytona.Model.StorageAccessDto.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec get_push_access(Tesla.Env.client(), keyword()) ::
          {:ok, ExDaytona.Model.StorageAccessDto.t()} | {:error, Tesla.Env.t()}
  def get_push_access(connection, opts \\ []) do
    optional_params = %{
      :"X-Daytona-Organization-ID" => :headers
    }

    request =
      %{}
      |> method(:get)
      |> url("/object-storage/push-access")
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, ExDaytona.Model.StorageAccessDto}
    ])
  end
end
