# NOTE: This file is auto generated by OpenAPI Generator 7.25.0 (https://openapi-generator.tech)
# using the Elixir SDK Generator template (https://github.com/houllette/elixir-sdk-generator).
# Do not edit this file manually — edit the templates and regenerate instead.

defmodule ExDaytona.Api.Process do
  @moduledoc """
  API calls for all endpoints tagged `Process`.
  """

  alias ExDaytona.Connection
  import ExDaytona.RequestBuilder

  @doc """
  Execute code
  Execute Python, JavaScript, or TypeScript code and return output, exit code, and artifacts

  ### Parameters

  - `connection` (ExDaytona.Connection): Connection to server
  - `code_run_request` (CodeRunRequest): Code execution request
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, ExDaytona.Model.CodeRunResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec code_run(Tesla.Env.client(), ExDaytona.Model.CodeRunRequest.t(), keyword()) ::
          {:ok, ExDaytona.Model.ErrorResponse.t()}
          | {:ok, ExDaytona.Model.CodeRunResponse.t()}
          | {:error, Tesla.Env.t()}
  def code_run(connection, code_run_request, opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/process/code-run")
      |> add_param(:body, :body, code_run_request)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response(
      [
        {200, ExDaytona.Model.CodeRunResponse},
        {400, ExDaytona.Model.ErrorResponse},
        {408, ExDaytona.Model.ErrorResponse},
        {500, ExDaytona.Model.ErrorResponse}
      ],
      opts
    )
  end

  @doc """
  Connect to PTY session via WebSocket
  Establish a WebSocket connection to interact with a pseudo-terminal session

  ### Parameters

  - `connection` (ExDaytona.Connection): Connection to server
  - `session_id` (String.t): PTY session ID
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, nil}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec connect_pty_session(Tesla.Env.client(), String.t(), keyword()) ::
          {:ok, nil} | {:ok, ExDaytona.Model.ErrorResponse.t()} | {:error, Tesla.Env.t()}
  def connect_pty_session(connection, session_id, opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/process/pty/#{session_id}/connect")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response(
      [
        {101, false},
        {400, ExDaytona.Model.ErrorResponse}
      ],
      opts
    )
  end

  @doc """
  Create a new PTY session
  Create a new pseudo-terminal session with specified configuration

  ### Parameters

  - `connection` (ExDaytona.Connection): Connection to server
  - `pty_create_request` (PtyCreateRequest): PTY session creation request
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, ExDaytona.Model.PtyCreateResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec create_pty_session(Tesla.Env.client(), ExDaytona.Model.PtyCreateRequest.t(), keyword()) ::
          {:ok, ExDaytona.Model.ErrorResponse.t()}
          | {:ok, ExDaytona.Model.PtyCreateResponse.t()}
          | {:error, Tesla.Env.t()}
  def create_pty_session(connection, pty_create_request, opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/process/pty")
      |> add_param(:body, :body, pty_create_request)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response(
      [
        {201, ExDaytona.Model.PtyCreateResponse},
        {400, ExDaytona.Model.ErrorResponse},
        {409, ExDaytona.Model.ErrorResponse},
        {500, ExDaytona.Model.ErrorResponse}
      ],
      opts
    )
  end

  @doc """
  Create a new session
  Create a new shell session for command execution

  ### Parameters

  - `connection` (ExDaytona.Connection): Connection to server
  - `create_session_request` (CreateSessionRequest): Session creation request
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, nil}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec create_session(Tesla.Env.client(), ExDaytona.Model.CreateSessionRequest.t(), keyword()) ::
          {:ok, nil} | {:ok, ExDaytona.Model.ErrorResponse.t()} | {:error, Tesla.Env.t()}
  def create_session(connection, create_session_request, opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/process/session")
      |> add_param(:body, :body, create_session_request)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response(
      [
        {201, false},
        {400, ExDaytona.Model.ErrorResponse},
        {409, ExDaytona.Model.ErrorResponse},
        {500, ExDaytona.Model.ErrorResponse}
      ],
      opts
    )
  end

  @doc """
  Delete a PTY session
  Delete a pseudo-terminal session and terminate its process

  ### Parameters

  - `connection` (ExDaytona.Connection): Connection to server
  - `session_id` (String.t): PTY session ID
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, %{}}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec delete_pty_session(Tesla.Env.client(), String.t(), keyword()) ::
          {:ok, ExDaytona.Model.ErrorResponse.t()} | {:ok, %{optional(String.t()) => any()}} | {:error, Tesla.Env.t()}
  def delete_pty_session(connection, session_id, opts \\ []) do
    request =
      %{}
      |> method(:delete)
      |> url("/process/pty/#{session_id}")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response(
      [
        {200, %{}},
        {400, ExDaytona.Model.ErrorResponse},
        {404, ExDaytona.Model.ErrorResponse}
      ],
      opts
    )
  end

  @doc """
  Delete a session
  Delete an existing shell session

  ### Parameters

  - `connection` (ExDaytona.Connection): Connection to server
  - `session_id` (String.t): Session ID
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, nil}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec delete_session(Tesla.Env.client(), String.t(), keyword()) ::
          {:ok, nil} | {:ok, ExDaytona.Model.ErrorResponse.t()} | {:error, Tesla.Env.t()}
  def delete_session(connection, session_id, opts \\ []) do
    request =
      %{}
      |> method(:delete)
      |> url("/process/session/#{session_id}")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response(
      [
        {204, false},
        {400, ExDaytona.Model.ErrorResponse},
        {404, ExDaytona.Model.ErrorResponse},
        {500, ExDaytona.Model.ErrorResponse}
      ],
      opts
    )
  end

  @doc """
  Execute a command
  Execute a shell command and return the output and exit code

  ### Parameters

  - `connection` (ExDaytona.Connection): Connection to server
  - `execute_request` (ExecuteRequest): Command execution request
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, ExDaytona.Model.ExecuteResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec execute_command(Tesla.Env.client(), ExDaytona.Model.ExecuteRequest.t(), keyword()) ::
          {:ok, ExDaytona.Model.ErrorResponse.t()}
          | {:ok, ExDaytona.Model.ExecuteResponse.t()}
          | {:error, Tesla.Env.t()}
  def execute_command(connection, execute_request, opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/process/execute")
      |> add_param(:body, :body, execute_request)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response(
      [
        {200, ExDaytona.Model.ExecuteResponse},
        {400, ExDaytona.Model.ErrorResponse},
        {408, ExDaytona.Model.ErrorResponse}
      ],
      opts
    )
  end

  @doc """
  Get entrypoint logs
  Get logs for a sandbox entrypoint session. Returns JSON with separated stdout/stderr for SDK >= 0.161.0, plain text otherwise. Supports WebSocket streaming.

  ### Parameters

  - `connection` (ExDaytona.Connection): Connection to server
  - `opts` (keyword): Optional parameters
    - `:follow` (boolean()): Follow logs in real-time (WebSocket only)

  ### Returns

  - `{:ok, ExDaytona.Model.SessionCommandLogsResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec get_entrypoint_logs(Tesla.Env.client(), keyword()) ::
          {:ok, ExDaytona.Model.ErrorResponse.t()}
          | {:ok, ExDaytona.Model.SessionCommandLogsResponse.t()}
          | {:error, Tesla.Env.t()}
  def get_entrypoint_logs(connection, opts \\ []) do
    optional_params = %{
      :follow => :query
    }

    request =
      %{}
      |> method(:get)
      |> url("/process/session/entrypoint/logs")
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response(
      [
        {200, ExDaytona.Model.SessionCommandLogsResponse},
        {404, ExDaytona.Model.ErrorResponse},
        {500, ExDaytona.Model.ErrorResponse}
      ],
      opts
    )
  end

  @doc """
  Get entrypoint session details
  Get details of an entrypoint session including its commands

  ### Parameters

  - `connection` (ExDaytona.Connection): Connection to server
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, ExDaytona.Model.Session.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec get_entrypoint_session(Tesla.Env.client(), keyword()) ::
          {:ok, ExDaytona.Model.ErrorResponse.t()} | {:ok, ExDaytona.Model.Session.t()} | {:error, Tesla.Env.t()}
  def get_entrypoint_session(connection, opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/process/session/entrypoint")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response(
      [
        {200, ExDaytona.Model.Session},
        {404, ExDaytona.Model.ErrorResponse},
        {500, ExDaytona.Model.ErrorResponse}
      ],
      opts
    )
  end

  @doc """
  Get PTY session information
  Get detailed information about a specific pseudo-terminal session

  ### Parameters

  - `connection` (ExDaytona.Connection): Connection to server
  - `session_id` (String.t): PTY session ID
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, ExDaytona.Model.PtySessionInfo.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec get_pty_session(Tesla.Env.client(), String.t(), keyword()) ::
          {:ok, ExDaytona.Model.ErrorResponse.t()} | {:ok, ExDaytona.Model.PtySessionInfo.t()} | {:error, Tesla.Env.t()}
  def get_pty_session(connection, session_id, opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/process/pty/#{session_id}")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response(
      [
        {200, ExDaytona.Model.PtySessionInfo},
        {400, ExDaytona.Model.ErrorResponse},
        {404, ExDaytona.Model.ErrorResponse}
      ],
      opts
    )
  end

  @doc """
  Get session details
  Get details of a specific session including its commands

  ### Parameters

  - `connection` (ExDaytona.Connection): Connection to server
  - `session_id` (String.t): Session ID
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, ExDaytona.Model.Session.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec get_session(Tesla.Env.client(), String.t(), keyword()) ::
          {:ok, ExDaytona.Model.ErrorResponse.t()} | {:ok, ExDaytona.Model.Session.t()} | {:error, Tesla.Env.t()}
  def get_session(connection, session_id, opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/process/session/#{session_id}")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response(
      [
        {200, ExDaytona.Model.Session},
        {404, ExDaytona.Model.ErrorResponse},
        {500, ExDaytona.Model.ErrorResponse}
      ],
      opts
    )
  end

  @doc """
  Get session command details
  Get details of a specific command within a session

  ### Parameters

  - `connection` (ExDaytona.Connection): Connection to server
  - `session_id` (String.t): Session ID
  - `command_id` (String.t): Command ID
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, ExDaytona.Model.Command.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec get_session_command(Tesla.Env.client(), String.t(), String.t(), keyword()) ::
          {:ok, ExDaytona.Model.Command.t()} | {:ok, ExDaytona.Model.ErrorResponse.t()} | {:error, Tesla.Env.t()}
  def get_session_command(connection, session_id, command_id, opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/process/session/#{session_id}/command/#{command_id}")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response(
      [
        {200, ExDaytona.Model.Command},
        {404, ExDaytona.Model.ErrorResponse},
        {500, ExDaytona.Model.ErrorResponse}
      ],
      opts
    )
  end

  @doc """
  Get session command logs
  Get logs for a specific command within a session. Returns JSON with separated stdout/stderr for SDK >= 0.167.0, plain text otherwise. Supports WebSocket streaming.

  ### Parameters

  - `connection` (ExDaytona.Connection): Connection to server
  - `session_id` (String.t): Session ID
  - `command_id` (String.t): Command ID
  - `opts` (keyword): Optional parameters
    - `:follow` (boolean()): Follow logs in real-time (WebSocket only)

  ### Returns

  - `{:ok, ExDaytona.Model.SessionCommandLogsResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec get_session_command_logs(Tesla.Env.client(), String.t(), String.t(), keyword()) ::
          {:ok, ExDaytona.Model.ErrorResponse.t()}
          | {:ok, ExDaytona.Model.SessionCommandLogsResponse.t()}
          | {:error, Tesla.Env.t()}
  def get_session_command_logs(connection, session_id, command_id, opts \\ []) do
    optional_params = %{
      :follow => :query
    }

    request =
      %{}
      |> method(:get)
      |> url("/process/session/#{session_id}/command/#{command_id}/logs")
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response(
      [
        {200, ExDaytona.Model.SessionCommandLogsResponse},
        {400, ExDaytona.Model.ErrorResponse},
        {403, ExDaytona.Model.ErrorResponse},
        {404, ExDaytona.Model.ErrorResponse},
        {500, ExDaytona.Model.ErrorResponse}
      ],
      opts
    )
  end

  @doc """
  List all PTY sessions
  Get a list of all active pseudo-terminal sessions

  ### Parameters

  - `connection` (ExDaytona.Connection): Connection to server
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, ExDaytona.Model.PtyListResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec list_pty_sessions(Tesla.Env.client(), keyword()) ::
          {:ok, ExDaytona.Model.ErrorResponse.t()}
          | {:ok, ExDaytona.Model.PtyListResponse.t()}
          | {:error, Tesla.Env.t()}
  def list_pty_sessions(connection, opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/process/pty")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response(
      [
        {200, ExDaytona.Model.PtyListResponse},
        {500, ExDaytona.Model.ErrorResponse}
      ],
      opts
    )
  end

  @doc """
  List all sessions
  Get a list of all active shell sessions

  ### Parameters

  - `connection` (ExDaytona.Connection): Connection to server
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, [%Session{}, ...]}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec list_sessions(Tesla.Env.client(), keyword()) ::
          {:ok, ExDaytona.Model.ErrorResponse.t()} | {:ok, [ExDaytona.Model.Session.t()]} | {:error, Tesla.Env.t()}
  def list_sessions(connection, opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/process/session")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response(
      [
        {200, ExDaytona.Model.Session},
        {500, ExDaytona.Model.ErrorResponse}
      ],
      opts
    )
  end

  @doc """
  Resize a PTY session
  Resize the terminal dimensions of a pseudo-terminal session

  ### Parameters

  - `connection` (ExDaytona.Connection): Connection to server
  - `session_id` (String.t): PTY session ID
  - `pty_resize_request` (PtyResizeRequest): Resize request with new dimensions
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, ExDaytona.Model.PtySessionInfo.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec resize_pty_session(Tesla.Env.client(), String.t(), ExDaytona.Model.PtyResizeRequest.t(), keyword()) ::
          {:ok, ExDaytona.Model.ErrorResponse.t()} | {:ok, ExDaytona.Model.PtySessionInfo.t()} | {:error, Tesla.Env.t()}
  def resize_pty_session(connection, session_id, pty_resize_request, opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/process/pty/#{session_id}/resize")
      |> add_param(:body, :body, pty_resize_request)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response(
      [
        {200, ExDaytona.Model.PtySessionInfo},
        {400, ExDaytona.Model.ErrorResponse},
        {410, ExDaytona.Model.ErrorResponse},
        {500, ExDaytona.Model.ErrorResponse}
      ],
      opts
    )
  end

  @doc """
  Send input to command
  Send input data to a running command in a session for interactive execution

  ### Parameters

  - `connection` (ExDaytona.Connection): Connection to server
  - `session_id` (String.t): Session ID
  - `command_id` (String.t): Command ID
  - `session_send_input_request` (SessionSendInputRequest): Input send request
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, nil}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec send_input(Tesla.Env.client(), String.t(), String.t(), ExDaytona.Model.SessionSendInputRequest.t(), keyword()) ::
          {:ok, nil} | {:ok, ExDaytona.Model.ErrorResponse.t()} | {:error, Tesla.Env.t()}
  def send_input(connection, session_id, command_id, session_send_input_request, opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/process/session/#{session_id}/command/#{command_id}/input")
      |> add_param(:body, :body, session_send_input_request)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response(
      [
        {204, false},
        {400, ExDaytona.Model.ErrorResponse},
        {404, ExDaytona.Model.ErrorResponse},
        {410, ExDaytona.Model.ErrorResponse},
        {500, ExDaytona.Model.ErrorResponse}
      ],
      opts
    )
  end

  @doc """
  Execute command in session
  Execute a command within an existing shell session

  ### Parameters

  - `connection` (ExDaytona.Connection): Connection to server
  - `session_id` (String.t): Session ID
  - `session_execute_request` (SessionExecuteRequest): Command execution request
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, ExDaytona.Model.SessionExecuteResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec session_execute_command(Tesla.Env.client(), String.t(), ExDaytona.Model.SessionExecuteRequest.t(), keyword()) ::
          {:ok, ExDaytona.Model.ErrorResponse.t()}
          | {:ok, ExDaytona.Model.SessionExecuteResponse.t()}
          | {:error, Tesla.Env.t()}
  def session_execute_command(connection, session_id, session_execute_request, opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/process/session/#{session_id}/exec")
      |> add_param(:body, :body, session_execute_request)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response(
      [
        {200, ExDaytona.Model.SessionExecuteResponse},
        {202, ExDaytona.Model.SessionExecuteResponse},
        {400, ExDaytona.Model.ErrorResponse},
        {404, ExDaytona.Model.ErrorResponse},
        {409, ExDaytona.Model.ErrorResponse},
        {500, ExDaytona.Model.ErrorResponse}
      ],
      opts
    )
  end
end
