# NOTE: This file is auto generated by OpenAPI Generator 7.25.0 (https://openapi-generator.tech)
# using the Elixir SDK Generator template (https://github.com/houllette/elixir-sdk-generator).
# Do not edit this file manually — edit the templates and regenerate instead.

defmodule ExDaytona.Api.System do
  @moduledoc """
  API calls for all endpoints tagged `System`.
  """

  alias ExDaytona.Connection
  import ExDaytona.RequestBuilder

  @doc """
  Get sandbox resource metrics
  Latest CPU/memory/disk usage snapshot for the sandbox. cpuUsedPct is the average CPU usage as a percentage of the CPU limit over the last sample window (0 until the first sample completes). Byte fields are in bytes.

  ### Parameters

  - `connection` (ExDaytona.Connection): Connection to server
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, ExDaytona.Model.SystemMetrics.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec get_system_metrics(Tesla.Env.client(), keyword()) ::
          {:ok, ExDaytona.Model.SystemMetrics.t()} | {:error, Tesla.Env.t()}
  def get_system_metrics(connection, opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/system/metrics")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response(
      [
        {200, ExDaytona.Model.SystemMetrics}
      ],
      opts
    )
  end
end
