# NOTE: This file is auto generated by OpenAPI Generator 7.25.0 (https://openapi-generator.tech)
# using the Elixir SDK Generator template (https://github.com/houllette/elixir-sdk-generator).
# Do not edit this file manually — edit the templates and regenerate instead.

defmodule ExDaytona.Api.Users do
  @moduledoc """
  API calls for all endpoints tagged `Users`.
  """

  alias ExDaytona.Connection
  import ExDaytona.RequestBuilder

  @doc """
  Accept the current privacy policies

  ### Parameters

  - `connection` (ExDaytona.Connection): Connection to server
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, nil}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec accept_privacy_policies(Tesla.Env.client(), keyword()) :: {:ok, nil} | {:error, Tesla.Env.t()}
  def accept_privacy_policies(connection, opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/users/privacy-policies/accept")
      |> ensure_body()
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response(
      [
        {204, false}
      ],
      opts
    )
  end

  @doc """
  Confirm (link) a pending SSO account link

  ### Parameters

  - `connection` (ExDaytona.Connection): Connection to server
  - `id` (String.t): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, nil}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec confirm_pending_sso_link(Tesla.Env.client(), String.t(), keyword()) :: {:ok, nil} | {:error, Tesla.Env.t()}
  def confirm_pending_sso_link(connection, id, opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/users/me/pending-sso-links/#{id}/confirm")
      |> ensure_body()
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response(
      [
        {204, false}
      ],
      opts
    )
  end

  @doc """
  Dismiss a pending SSO account link

  ### Parameters

  - `connection` (ExDaytona.Connection): Connection to server
  - `id` (String.t): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, nil}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec dismiss_pending_sso_link(Tesla.Env.client(), String.t(), keyword()) :: {:ok, nil} | {:error, Tesla.Env.t()}
  def dismiss_pending_sso_link(connection, id, opts \\ []) do
    request =
      %{}
      |> method(:delete)
      |> url("/users/me/pending-sso-links/#{id}")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response(
      [
        {204, false}
      ],
      opts
    )
  end

  @doc """
  Get account providers
  Social sign-in providers (Google, GitHub, ...) enabled for this environment, each flagged with whether the authenticated user has an identity linked through it.

  ### Parameters

  - `connection` (ExDaytona.Connection): Connection to server
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, [%AccountProvider{}, ...]}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec get_account_providers(Tesla.Env.client(), keyword()) ::
          {:ok, [ExDaytona.Model.AccountProvider.t()]} | {:error, Tesla.Env.t()}
  def get_account_providers(connection, opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/users/account-providers")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response(
      [
        {200, ExDaytona.Model.AccountProvider}
      ],
      opts
    )
  end

  @doc """
  Get authenticated user

  ### Parameters

  - `connection` (ExDaytona.Connection): Connection to server
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, ExDaytona.Model.User.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec get_authenticated_user(Tesla.Env.client(), keyword()) ::
          {:ok, ExDaytona.Model.User.t()} | {:error, Tesla.Env.t()}
  def get_authenticated_user(connection, opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/users/me")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response(
      [
        {200, ExDaytona.Model.User}
      ],
      opts
    )
  end

  @doc """
  Link account (withdrawn)
  Withdrawn. This operation is no longer supported and always responds 410.

  ### Parameters

  - `connection` (ExDaytona.Connection): Connection to server
  - `create_linked_account` (CreateLinkedAccount): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, nil}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec link_account(Tesla.Env.client(), ExDaytona.Model.CreateLinkedAccount.t(), keyword()) ::
          {:ok, nil} | {:error, Tesla.Env.t()}
  def link_account(connection, create_linked_account, opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/users/linked-accounts")
      |> add_param(:body, :body, create_linked_account)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response(
      [
        {410, false}
      ],
      opts
    )
  end

  @doc """
  List pending SSO account links for the authenticated user

  ### Parameters

  - `connection` (ExDaytona.Connection): Connection to server
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, [%PendingSsoLink{}, ...]}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec list_pending_sso_links(Tesla.Env.client(), keyword()) ::
          {:ok, [ExDaytona.Model.PendingSsoLink.t()]} | {:error, Tesla.Env.t()}
  def list_pending_sso_links(connection, opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/users/me/pending-sso-links")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response(
      [
        {200, ExDaytona.Model.PendingSsoLink}
      ],
      opts
    )
  end

  @doc """
  Record a completed login
  Called by the dashboard once per completed sign-in. The email access gate evaluates the user and reports the login to analytics; a refused user receives 403 with code EMAIL_ACCESS_DENIED.

  ### Parameters

  - `connection` (ExDaytona.Connection): Connection to server
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, nil}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec record_login(Tesla.Env.client(), keyword()) :: {:ok, nil} | {:error, Tesla.Env.t()}
  def record_login(connection, opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/users/me/logins")
      |> ensure_body()
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response(
      [
        {204, false}
      ],
      opts
    )
  end
end
